pytorch-lightning
pretty_midi
audioread
h5py
librosa
matplotlib
music21
numba
numpy
pandas
scikit-learn
scipy
six
SoundFile
sox
tqdm
PyYAML
omegaconf
typing-extensions
ffmpeg-python
patsy
statsmodels
miditoolkit
chorder
jupyter